<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddHome</title>
    //add tailwind css link
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Airbnb</h1>
      <h1 className="text-3xl font-bold underline">Hello world!</h1>
    </header>
    <main>
      <form action="/host/addHome" method="POST">
        <input type="text" name="homeName" placeholder="Home Name" required />
        <button type="submit">Add Home</button>
      </form>
    </main>
  </body>
</html>
